@import "tailwindcss";

/* 1. Nilai dasar (Default) jika database belum dimuat */
:root {
  --color-header1: #5A7718;
  --color-header2: #78A316;
  --color-footer1: #455A12;
  --color-footer2: #8A9A65;
  --color-bgutama: #F3F3E9;
  --color-bglite: #FCFCFA;
  --color-teksgelap: #2D3715;
  --color-aksen: #D32F2F;
}

/* 2. Mengajarkan Tailwind v4 untuk mengenali warna dinamis kita */
@theme inline {
  --color-header1: var(--color-header1);
  --color-header2: var(--color-header2);
  --color-footer1: var(--color-footer1);
  --color-footer2: var(--color-footer2);
  --color-bgutama: var(--color-bgutama);
  --color-bglite: var(--color-bglite);
  --color-teksgelap: var(--color-teksgelap);
  --color-aksen: var(--color-aksen);
  
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* 3. Pengaturan Body */
body {
  background-color: var(--color-bgutama);
  color: var(--color-teksgelap);
}